<html>
<body>
  <h4>your room is : {{yourRoom}}</h4>

        <form action="/join" method="POST" >        
        <input type="submit"  value="join">               
         </form>
  </body>
  </html>